{% extends 'base.html' %}
{% load static %}
{% block title %} Trajetória - Rafael Meyer {% endblock title %}
{% block header %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({% static 'img/home-bg.jpg' %})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Um pouco da minha trajetória<p></h1>
            <span class="subheading">Neste site vou contar um pouco da minha história. <p>
                Na página sobre minha trajetória pessoal irei contar um pouco sobre meu núcleo familiar, minha decisão de                 começar a trabalhar cedo e também como conheci a UDESC e o que me levou a cursar engenharia elétrica.<p>
                Já na página sobre minha trajetória profissional irei contar um pouco sobre as atividades que realizo como                bolsista de suporte de informática, um pouco sobre projetos que desenvolvi durante a graduação e também                   sobre meu TCC. </span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock header %}
